@import '../../../../styles/const.scss';

.container {
  height: 100%;
  width: 100%;

  .wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    backdrop-filter: blur(5px);
    background-color: rgba(40, 40, 40, 0.613);
    padding-top: 10px;

    .modal {
      width: 683px;
      background-color: $Dark50;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 20px;

      .input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        color: #fff;
        font-size: 30px;

        &::placeholder {
          color: #fff;
        }
      }
    }
  }
}