@import '../../../../../styles/const.scss';

.calendar {
  background-color: $FontColorBlack;
  border: 2px solid $FontColorBlack;
  width: 240px;
  height: 250px;
  border-radius: 5px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;

    .dateName {
      font-size: 20px;
      cursor: pointer;
      padding: 5px 20px;
      border-radius: 7px;

      &:hover {
        background-color: $FontColorBlack;
        transition: all 0.5s ease-out;
        color: #fff;
      }
    }

    .img {
      cursor: pointer;
    }
  }

  .daysHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;

    .day {
      color: #fff;
      font-size: 13px;
    }
  }

  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    // margin-top: 10px;

    .dayWrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .dayNumber {
        max-width: fit-content;
        color: #fff;
        font-size: 14px;
        margin-bottom: 5px;
        padding: 5px;
        cursor: pointer;

        &:hover {
          transform: scale(1.4);
        }
      }

      .today {
        background-color: #fff;
        border-radius: 100px;
        color: black;
        cursor: pointer;
      }
    }
  }
}