.container[data-theme="Default"] {
  background-image: url('../../assets/images/DefaultBg.jpg');
}

.container[data-theme="RainyDay"] {
  background-image: url('../../assets/gifs/kerryParkRainy.gif');
}

.container[data-theme="SunnyHills"] {
  background-image: url('../../assets/gifs/SunnyHills.gif');
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 1080px;
  background-size: cover;
  background-image: none;
  background-position: top center;
  background-repeat: no-repeat;

  .backImageWrapper {
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1 1 auto;
    max-height: 1080px;
  }

  .wrapper {
    flex: 1 1 auto;
  }

  .main {
    // max-width: 1920px;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 140px;
    // padding: 0 150px;
  }

  .changeBar {
    flex: 1 1 auto;
    // overflow-y: hidden;
  }
}