.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 1080px;
  background-image: url('../../assets/gifs/kerry\ park\ -\ rainy\,\ Ryan\ Haight.gif');
  background-position: top center;
  background-repeat: no-repeat;

  .backImageWrapper {
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1 1 auto;
    max-height: 1080px;
  }

  .wrapper {
    flex: 1 1 auto;
  }

  .main {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 150px;
  }

  .changeBar {
    flex: 1 1 auto;
    // overflow-y: hidden;
  }
}