@import '../../../../styles/const.scss';

.clock {
  display: flex;
  align-items: center;
  max-width: fit-content;
  gap: 10px;

  .hours {
    font-size: 130px;
    padding: 20px;
    background-color: rgba(37, 37, 37, 0.50);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: $FontColorWhite;
    border-radius: 7px;
  }

  .center {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    .square {
      width: 20px;
      height: 20px;
      background-color: $FontColorBlack;
    }
  }

  .minutes {
    font-size: 130px;
    padding: 20px;
    color: $FontColorWhite;
    background-color: rgba(37, 37, 37, 0.50);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
  }
}