@import '../../styles/const.scss';

.container[data-theme="Default"] {
    background-color: $Rainy-Dark;

    .btn {
        background: $White;

        .btnText {
            color: $Dark;
        }
    }

    .avatarWrapper {
        background: $White;
    }

    .logoTitle {
        color: $White;
    }
}

.container[data-theme="RainyDay"] {
    background-color: $Rainy-Dark50;
    
    .btn {
        background: $Rainy-BlueGradientLight;

        .btnText {
            color: $White;
        }
    }

    .avatarWrapper {
        background: $Rainy-BlueGradientLight;
    }

    .logoTitle {
        color: $White;
    }
}

// .container[data-theme="SunnyHills"] {
//     background-color: $Rainy-Dark50;

//     .btn {
//         background: $White;

//         .btnText {
//             color: $Dark;
//         }
//     }

//     .avatarWrapper {
//         background: $White;
//     }

//     .logoTitle {
//         color: $White;
//     }
// }

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 30px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 2;
    left: 0;
    top: 10px;
    right: 0;

    // @media screen and (max-width: 1665px) {
    //     max-width: 1400px;
    // }

    .buttonsWrapper {
        display: flex;
        align-items: center;
        gap: 40px;

        .btn {
            display: flex;
            align-items: center;
            border: none;
            padding: 10px;
            border-radius: 10px;
            gap: 5px;
            cursor: pointer;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);

            @media screen and (max-width: 1440px) {}

            .icons {
                width: 24px;
                height: 24px;
                

                @media screen and (max-width: 1440px) {
                    width: 20px;
                    height: 20px;
                }
            }

            .btnText {
                font-family: $FontFam;
                font-size: 24px;
                margin: 0;

                @media screen and (max-width: 1440px) {
                    font-size: 18px;
                }
            }
        }

        .avatarWrapper {
            width: 70px;
            height: 70px;
            border-radius: 100px;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);

            @media screen and (max-width: 1680px) {
                width: 60px;
                height: 60px;
            }

            @media screen and (max-width: 1440px) {
                width: 50px;
                height: 50px;
            }

            .avatar {
                cursor: pointer;
                border-radius: 100px;

                @media screen and (max-width: 1680px) {
                    width: 60px;
                    height: 60px;
                }

                @media screen and (max-width: 1440px) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .logoWrapper {
        display: flex;
        gap: 15px;
        align-items: center;
        cursor: pointer;

        .logoIcons {
            width: 70px;
            height: 70px;
            border-radius: 20px;
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);

            @media screen and (max-width: 1680px) {
                width: 60px;
                height: 60px;
            }

            @media screen and (max-width: 1440px) {
                width: 50px;
                height: 50px;
            }
        }

        .logoTitle {
            margin: 0;
            font-size: 40px;

            @media screen and (max-width: 1440px) {
                font-size: 40px;
            }
        }
    }

}