@import '../../../styles/const.scss';

.container {
  margin: 40px 0;
  height: 60px;
  display: flex;
  align-items: center;

  .subWrapper[data-theme="Default"] {
      background-color: $Dark;
   }
   
   .subWrapper[data-theme="RainyDay"] {
      background-color: $Dark50;
   }

  .subWrapper {
    border-radius: 10px;

    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      // padding: 5px;
    }
  }

  .routeWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;   

    .routeTitle {
      font-size: 30px;
      font-weight: 400;
      padding: 5px 10px;
      color: $White;
      margin: 0;
    }
  }

  .routeTitle {
    font-size: 30px;
    font-weight: 400;
    padding: 5px 10px;
    color: $White;
    margin: 0;
  }
}