@import '../../styles/const.scss';

.container[data-theme="Default"] {
    .wrapper {
        .cardWrapper {
            background-color: $Rainy-Dark;
        }
    }

}

.container[data-theme="RainyDay"] {
    .wrapper {
        .cardWrapper {
            background-color: $Rainy-Dark50;
        }
    }

}

.container {
    width: 100%;

    .wrapper {
        // background-color: aqua;

        .cardWrapper {
            display: flex;
            gap: 30px;
            padding: 40px 20px;
            border-radius: 10px;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .routeTitle {
            margin: 40px 0;
            font-size: 32px;
        }
    }
}