@import '../../styles/const.scss';

.container {
    width: 100%;

    .wrapper {
        // background-color: aqua;

        .cardWrapper {
            display: flex;
            gap: 30px;
            padding: 40px 20px;
            border-radius: 5px;
            background-color: $Dark50;
            box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }

        .routeTitle {
            margin: 40px 0;
            font-size: 32px;
        }
    }
}